<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules runAllManagedModulesForAllRequests="true">
        <add name="NLog" type="NLog.Web.NLogHttpModule, NLog.Web" />
      </modules>
      <aspNetCore requestTimeout="00:15:00" processPath="dotnet" arguments=".\WebSRTransport.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9d04b7be-318b-4e95-aae3-c47aab07db30-->
<!--ProjectGuid: 874e255d-e50b-458d-8375-b7e8324f6c32-->