@using Rabbit.Shower.Models
@model AccountView

<h1>Login</h1>

<style>
    .error{
        color: red
    }
</style>

<form asp-controller="Account"
      asp-action="Login"
      class="w-25 row g-3 needs-validation was-validated"
      novalidate>
    <input hidden asp-for="ReturnUrl" />

    <div class="mb-3">
        <label for="login"
               class="form-label">Login</label>
        <input id="login"
               class="form-control"
               asp-for="Login" required minlength="3" />
        <span asp-validation-for="Login"
              class="error"></span>
    </div>

    <div class="mb-3">

        <label for="password"
               class="form-label">Password</label>
        <input id="password"
               class="form-control"
               asp-for="Password" required minlength="6" />
        <span asp-validation-for="Password"
              class="error"></span> 

    </div>

    <div class="btn-group">
        <a href="#" class="btn btn-danger">Сбросить</a>

        <button class="btn btn-success"
                type="submit">
            Сохранение
        </button>
    </div>

</form>